body
{
   font-family:Arial;
   color:white;
   background-color:red;
}
h1
{
   font-family: Elephant;
}
h2
{
    font-family: Calibri;
}
h3
{
	font-family: Arial;
}
h4
{
	font-family: Verdana;
}
h5
{
	font-family: Timesnew roman;
}
h6
{
	font-family: Edwardian script itc;
}
h7
{
	font-family: Algerian;
}